In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from env import get_db_url
import wrangle_zillow as w

In [2]:
# creating df variable
df = w.new_zillow_data()

In [3]:
df = w.get_zillow_data()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52319 entries, 0 to 52318
Data columns (total 71 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   typeconstructiontypeid      76 non-null     float64
 1   storytypeid                 47 non-null     float64
 2   propertylandusetypeid       52319 non-null  float64
 3   heatingorsystemtypeid       33849 non-null  float64
 4   buildingclasstypeid         0 non-null      float64
 5   architecturalstyletypeid    70 non-null     float64
 6   airconditioningtypeid       13615 non-null  float64
 7   parcelid                    52319 non-null  int64
 8   id                          52319 non-null  int64
 9   basementsqft                47 non-null     float64
 10  baths                       52319 non-null  float64
 11  beds                        52319 non-null  float64
 12  buildingqualitytypeid       33654 non-null  float64
 13  calculatedbathnbr           52184 non-null  float64
 14  decktypeid                  389 non-null    float64
 15  finishedfloor1squarefeet    4371 non-null   float64
 16  sqft                        52238 non-null  float64
 17  finishedsquarefeet12        52073 non-null  float64
 18  finishedsquarefeet13        0 non-null      float64
 19  finishedsquarefeet15        0 non-null      float64
 20  finishedsquarefeet50        4371 non-null   float64
 21  finishedsquarefeet6         165 non-null    float64
 22  fips                        52319 non-null  float64
 23  fireplacecnt                7233 non-null   float64
 24  fullbathcnt                 52184 non-null  float64
 25  garagecarcnt                17984 non-null  float64
 26  garagetotalsqft             17984 non-null  float64
 27  hashottuborspa              1514 non-null   float64
 28  latitude                    52319 non-null  float64
 29  longitude                   52319 non-null  float64
 30  lotsizesquarefeet           51953 non-null  float64
 31  poolcnt                     11077 non-null  float64
 32  poolsizesum                 865 non-null    float64
 33  pooltypeid10                443 non-null    float64
 34  pooltypeid2                 1071 non-null   float64
 35  pooltypeid7                 9990 non-null   float64
 36  propertycountylandusecode   52319 non-null  object
 37  propertyzoningdesc          33761 non-null  object
 38  rawcensustractandblock      52319 non-null  float64
 39  regionidcity                51283 non-null  float64
 40  regionidcounty              52319 non-null  float64
 41  regionidneighborhood        18981 non-null  float64
 42  regionidzip                 52293 non-null  float64
 43  total_rooms                 52319 non-null  float64
 44  threequarterbathnbr         6717 non-null   float64
 45  unitcnt                     33761 non-null  float64
 46  yardbuildingsqft17          1935 non-null   float64
 47  yardbuildingsqft26          63 non-null     float64
 48  yearbuilt                   52205 non-null  float64
 49  numberofstories             14532 non-null  float64
 50  fireplaceflag               81 non-null     float64
 51  structuretaxvaluedollarcnt  52237 non-null  float64
 52  property_value              52318 non-null  float64
 53  assessmentyear              52319 non-null  float64
 54  landtaxvaluedollarcnt       52318 non-null  float64
 55  taxamount                   52315 non-null  float64
 56  taxdelinquencyflag          2068 non-null   object
 57  taxdelinquencyyear          2068 non-null   float64
 58  censustractandblock         52198 non-null  float64
 59  max_transactiondate         52319 non-null  object
 60  id.1                        52319 non-null  int64
 61  parcelid.1                  52319 non-null  int64
 62  logerror                    52319 non-null  float64
 63  transactiondate             52319 non-null  object
 64  airconditioningdesc         13615 non-null  object
 65  architecturalstyledesc      70 non-null     object
 66  buildingclassdesc           0 non-null      float64
 67  heatingorsystemdesc         33849 non-null  object
 68  propertylandusedesc         52319 non-null  object
 69  storydesc                   47 non-null     object
 70  typeconstructiondesc        76 non-null     object
dtypes: float64(56), int64(4), object(11)
memory usage: 28.3+ MB

In [5]:
df.shape

(52319, 71)

In [6]:
#using handle missing values function
df = w.handle_missing_values(df)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52255 entries, 0 to 52318
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   propertylandusetypeid       52255 non-null  float64
 1   heatingorsystemtypeid       33849 non-null  float64
 2   parcelid                    52255 non-null  int64
 3   id                          52255 non-null  int64
 4   baths                       52255 non-null  float64
 5   beds                        52255 non-null  float64
 6   buildingqualitytypeid       33654 non-null  float64
 7   calculatedbathnbr           52184 non-null  float64
 8   sqft                        52238 non-null  float64
 9   finishedsquarefeet12        52073 non-null  float64
 10  fips                        52255 non-null  float64
 11  fullbathcnt                 52184 non-null  float64
 12  latitude                    52255 non-null  float64
 13  longitude                   52255 non-null  float64
 14  lotsizesquarefeet           51898 non-null  float64
 15  propertycountylandusecode   52255 non-null  object
 16  propertyzoningdesc          33750 non-null  object
 17  rawcensustractandblock      52255 non-null  float64
 18  regionidcity                51225 non-null  float64
 19  regionidcounty              52255 non-null  float64
 20  regionidzip                 52232 non-null  float64
 21  total_rooms                 52255 non-null  float64
 22  unitcnt                     33761 non-null  float64
 23  yearbuilt                   52205 non-null  float64
 24  structuretaxvaluedollarcnt  52181 non-null  float64
 25  property_value              52254 non-null  float64
 26  assessmentyear              52255 non-null  float64
 27  landtaxvaluedollarcnt       52254 non-null  float64
 28  taxamount                   52251 non-null  float64
 29  censustractandblock         52143 non-null  float64
 30  max_transactiondate         52255 non-null  object
 31  id.1                        52255 non-null  int64
 32  parcelid.1                  52255 non-null  int64
 33  logerror                    52255 non-null  float64
 34  transactiondate             52255 non-null  object
 35  heatingorsystemdesc         33849 non-null  object
 36  propertylandusedesc         52255 non-null  object
dtypes: float64(27), int64(4), object(6)
memory usage: 15.1+ MB

In [8]:
# results after using handling missing values function
df.shape

(52255, 37)